{% extends "base.html" %}
{% block title %}Inicio{% endblock %}

{% block content %}
<div class="text-center">
  <h2 class="mb-4">Bienvenido, {{ request.user.username }} ({{ request.user.get_role_display }})</h2>
  <div class="d-grid gap-2 col-6 mx-auto">
    {% if request.user.role == 'ingeniero' %}
      <a href="{% url 'crear_usuario' %}" class="btn btn-success">Crear Usuario</a>
    {% endif %}
    <a href="{% url 'logout' %}" class="btn btn-danger">Cerrar sesión</a>
  </div>
</div>
{% endblock %}
